/*Imagenes*/
img {
  width: 20%;
}

/*Tabla*/
table {
  margin-top: 50px;
  margin-bottom: 20px;
  border-collapse: collapse;
}
caption {
  padding-bottom: 20px;
  font-style: italic;
}
th {
  background: linear-gradient(rgb(103, 103, 216), white, skyblue);
}
td,
th {
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.topnav__image {
  height: 80px;
  width: 80px;
  padding: 5px 0;
}

/*Imagen*/
.topheader {
  box-shadow: 0 4px 5px var(--navbar-shadow-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: wheat;
}

.topnav__image {
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding-left: 10px;
}
/*Menu*/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 20px 15px;
}
.menu a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  padding: 0px 15px;
  text-transform: uppercase;
}
.open-menu,
.close-menu {
  display: none;
}

@media (max-width: 1081px) {
  .topnav__image {
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding-left: 10px;
  }
  /*Menu*/
  .menu {
    flex-direction: column;

    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    background-color: var(--menu-mobile-backround-color);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu li {
    padding: 20px 15px;
    justify-content: center;
    align-items: center;
  }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px;
  }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    width: 150px;
    padding-top: 20px;
    padding-left: 40px;
  }
  .close-menu {
    align-self: flex-end;
    padding-top: 50px;
    padding-left: 20px;
  }
  #Fabbio {
    padding-right: 45px;
  }
  .menu-opened {
    opacity: 1;
    pointer-events: all;
  }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
}
